body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat";
}

.square {
    width: 30%; /*the size of each square*/
    background-color: aqua;
    padding-bottom: 30%;
    float: left;
    margin: 1.5%;
    border-radius: 10%;
    transition: background .7s;
    -webkit-transition: background .7s; /*this add support*/
    -moz-transition: background .7s;
}
#container {
    max-width: 600px;
    margin: 0 auto; /*this centers the div*/
}
#stripe {
    background-color: white;
    height: 30%;
    text-align: center;
}
h1 {
    padding: 20px 0;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: normal;
    background-color: steelblue;
}
button {
    height: 100%;
    background-color: white;
    color: steelblue;
    border: none;
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: inherit;
    transition: all .7s; 
    -webkit-transition: all .7s; /*this add support*/
    -moz-transition: all .7s;
    outline: none;
}
button:hover {
    color: white;
    background-color: steelblue;
}

.selected {
    background-color: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 55px;
}
#winLose {
    display: inline-block;
    width: 20%;
}